In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
%matplotlib inline

In [14]:
df = pd.read_csv('../dataset/ratings.csv')
print(df.shape)
df.head(3)

(27753444, 4)

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471

In [16]:
# keep users that have more than 500 ratings
users_500_rate = df.userId.unique()[df.userId.value_counts()>500]
df2 = df[df.userId.isin(users_500_rate)]
print(df2.shape)
df2.head(3)

(1015478, 4)

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471

In [18]:
df2.to_csv('../dataset/ratings_greater_500.csv')

In [19]:
# keep users that have more than 100 ratings
users_100_rate = df.userId.unique()[df.userId.value_counts()>100]
df2 = df[df.userId.isin(users_100_rate)]
print(df2.shape)
df2.head(3)

(6567034, 4)

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471

In [20]:
df2.to_csv('../dataset/ratings_greater_100.csv')